@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
    var roleUsage = ViewBag.RoleUsage as Dictionary<string, bool>;
}

<div class="container-fluid px-4 mt-5">
  @*   <p>
        <a asp-action="create" class="btn btn-primary">create new role</a>
    </p>
    <hr /> *@

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Roles List
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="table">
                <thead>
                    <tr>
                        <th>Role Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Name</td>
                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
