
@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .chart-container {
        position: relative;
        height: 370px; /* same fixed height for both */
    }
</style>
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
</div>