@{
    ViewData["Title"] = "Home Page";
}
<style>
     .chart-container {
         position: relative;
         height: 370px; /* same fixed height for both */
     }
</style>
<div class="container-fluid px-4">
    <h1 class="mt-4">Welcome Home</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Home</li>
    </ol>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Welcome @User.Identity.Name</p>
    }
    else
    {
        <p>Please Login or Register to go to portal.</p>
    }
</div>

